@import url("https://fonts.googleapis.com/css2?family= Raleway :wght@500;600 & display=swap");
@import url("https://fonts.googleapis.com/css2?family= Inter:wght@400;700 & display =swap");
body {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
header {
    display: flex;
    background: #303030;
    padding-left: 10px;
}
header h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 56px;
    color: #ffffff;
    margin-left: 10px;
}
section {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
#left h2 {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #265e70;
    text-align: center;
}

#rigth h2 {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #265e70;
    text-align: center;
}
#rigth h2 strong {
    color: #4dbce9;
}
.slider {
    display: flex;
}
.slider .setas {
    display: flex;
    align-items: center;
    padding: 20px;
}
.slider .setas button {
    border: 0;
    background: 0;
}
#container {
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 540px;
    min-height: 540px;
    overflow: hidden;
    gap: 2rem;
}
#container li {
    background: rgba(77, 188, 233, 0.75);
    border-radius: 15px;
    text-align: center;
    display: flex;
    min-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
#container #nome {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    color: #ffffff;
}
#container h3 {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    color: #ffffff;
}
#container h2 {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #265e70;
}
#container h4 {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
#rigth #footer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
#rigth #footer button {
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 47px;
    color: #ffffff;
    background: #4dbce9;
    border-radius: 15px;
    border: 0;
    padding: 5px 35px 5px 35px;
    margin-bottom: 20px;
}
body.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
}

.modal-card {
    background-color: #4dbce9bf;
    padding: 40px 100px;
    max-width: 838px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: #ffffff;
}

.modal-card h1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
}

.modal-card p {
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;
}

.modal-card > button:first-of-type {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 13px;
    top: 13px;
}

.modal-card > button:last-of-type {
    font-size: 27px;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 15px;
    border: none;
    color: #265e70;
}

@media (max-width: 1440px) {
    .modal-card {
        width: 80%;
        height: 80%;
        gap: 15px;
    } 
    .modal-card img {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    #left img {
        width: 500px;
    } 
    #container {
        width: 400px;
        height: 400px;
    }
    #container li {
        min-width: 400px;
    }
    #rigth h2 {
        font-size: 25px;
    }
    .slider .setas {
        padding: 10px;
    }
    .slider .setas button {
        padding: 0;
    }
    .modal {
        width: 100%;
        }
    .modal-card { 
        width: 70%;
    }
}

@media (max-width: 768px) {
    #left img {
        width: 350px;
    } 
    #container {
        width: 350px;
        height: 300px;
        padding: 5px 0;
    }
    #container li {
        min-width: 300px;
    }

    #rigth h2 {
        font-size: 20px;
    }
    #rigth img {
        width: 70%;
    }
    .slider .setas {
        padding: 5px;
    }
    .modal-card img {
        width: 40%;
    }
}

@media (max-width: 425px) {
    #left {
        text-align: center;
    }

    #left img {
        width: 250px;
    } 
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #container {
        width: 250px;
        height: 250px;
        padding: 5px 0;
    }
    #container li {
        min-width: 250px;
    }
    #rigth h2 {
        font-size: 15px;
    }
    #rigth img {
        width: 60%;
    }
    .modal-card {
        width: 40%;
        height: 80%;
        gap: 1px;
    }
    .modal-card img {
        width: 90%;
    }
    .modal-card h1 {
        font-size: 20px;
    }
    .modal-card p {
        font-size: 15px;
    }
    .modal-card button {
        font-size: 25px !important;
    }
}

@media (max-width: 375px) {
    .modal-card {
        padding: 40px 90px;
        gap: 10px;
    }
}
